
@{
    ViewBag.Title = "Admin";
}

<a href="/admin/userWorks/">Список заявок</a>
<a href="/admin/items/">Список товаров</a>
<a href="/admin/feedbacks/">Список комментариев</a>
<a href="/admin/orders/">Список заказов</a>
<a href="/admin/price">Прайс услуг</a>
<a href="/admin/account">Аккаунт</a>

